<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=“robots” content=“noindex,nofollow”>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/style.css" rel="stylesheet">
  <link rel="icon" href="data:,">
</head>

<body class="bg-offwhite text-black dark:bg-black dark:text-white h-screen flex justify-center items-center">
  <div class="sm:w-[608px] px-4">
    <p class="mb-2 text-center">{{label}}</p>
    <div class="font-mono break-all text-star-darker dark:text-star">{{url}}</div>
    <a class="block mt-2 py-2 shadow text-center bg-white dark:bg-offblack2 rounded" href="{{url}}">{{button}}</a>
  </div>
</body>

</html>
