<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/style.css" rel="stylesheet">
  <script async src="/assets/script.js"></script>
</head>

<body class="bg-black text-white h-screen flex justify-center items-center">
  <div>
    <h1 lang="en" dir="ltr">The link you are trying to reach is no longer reachable.</h1>
    <h1 lang="de" dir="ltr">Der Link, den Sie erreichen möchten, ist nicht mehr erreichbar.</h1>
    <h1 lang="ru" dir="ltr">Ссылка, по которой вы пытаетесь перейти, больше не доступна.</h1>
    <h1 lang="cn" dir="ltr">您试图到达的链接不再可达。</h1>
    <h1 lang="es" dir="ltr">El enlace al que intenta acceder ya no es accesible.</h1>
    <h1 lang="fr" dir="ltr">Le lien que vous essayez d'atteindre n'est plus accessible.</h1>
    <h1 lang="ar" dir="rtl">لم يعد من الممكن الوصول إلى الرابط الذي تحاول الوصول إليه.</h1>
  </div>
</body>

</html>
