<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/style.css" rel="stylesheet">
  <link rel="icon" href="data:,">
</head>

<body class="bg-white text-black dark:bg-black dark:text-white h-screen flex justify-center items-center">
  <div class="px-4">
    <div id="clock" class="text-center text-7xl pt-4 pb-16"
      style="text-shadow: 0 4px 60px #3456ac, 0 0px 20px #8aa4e6;">&nbsp;</div>
    <p>{{label}}</p>
  </div>

  <script>
    const deadline = new Date({{timestamp}}).getTime()
    const clock = document.getElementById('clock')
    const timeinterval = setInterval(() => {
      const total = deadline - Date.now()
      const seconds = Math.floor((total / 1000) % 60)
      const minutes = Math.floor((total / 1000 / 60) % 60)
      const hours = Math.floor(total / (1000 * 60 * 60))
      clock.innerHTML =
        hours.toString().padStart(2, '0') + ':' +
        minutes.toString().padStart(2, '0') + ':' +
        seconds.toString().padStart(2, '0')
      if (total <= 0) {
        clearInterval(timeinterval)
        clock.innerHTML = '00:00:00'
        setTimeout(() => window.location = window.location, Math.random() * 3000)
      }
    }, 1000);
  </script>
</body>

</html>
