<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/style.css" rel="stylesheet">
  <link rel="icon" href="data:,">
</head>

<body class="bg-white dark:bg-black h-screen flex justify-center items-center">
  <div class="px-4">
    <div id="clock"
      class="text-center text-star-dark dark:text-star-lighter text-7xl pt-4 pb-16 star-glow animate-intro">
      &nbsp;
    </div>
    <p class="text-black dark:text-white">{{label}}</p>
  </div>

  <script>
    const deadline = new Date({{timestamp}}).getTime()
    const clock = document.getElementById('clock')
    function tick() {
      const total = deadline - Date.now()
      const seconds = Math.floor((total / 1000) % 60)
      const minutes = Math.floor((total / 1000 / 60) % 60)
      const hours = Math.floor(total / (1000 * 60 * 60))
      clock.innerHTML =
        hours.toString().padStart(2, '0') + ':' +
        minutes.toString().padStart(2, '0') + ':' +
        seconds.toString().padStart(2, '0')
      try {
        if (total <= 0) {
          clearInterval(timeinterval)
          clock.innerHTML = '00:00:00'
          setTimeout(() => window.location = window.location, Math.random() * 3000)
        }
      } catch (_) { }
    }
    tick()
    const timeinterval = setInterval(tick, 1000);
  </script>
</body>

</html>
