<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zorka</title>
  <link href="/assets/style.css" rel="stylesheet">
  <script async src="/assets/script.js"></script>
  <link rel="icon" href="data:,">
</head>

<body class="bg-black text-white relative">
  <nav class="text-right px-4 py-2 bg-offblack border-b border-offblack2">
    <button class="px-4 py-1 rounded bg-star hover:bg-star-dark text-black focus:outline focus:outline-1 focus:outline-solid"
      onclick="create(event)">upsert</button>
  </nav>
  <main class="p-4">
    <table class="w-full table-fixed">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left bg-offblack border border-offblack2">Slug</th>
          <th class="px-4 py-2 text-left bg-offblack border border-offblack2 hidden md:table-cell w-1/2">URL</th>
          <th class="px-4 py-2 text-left bg-offblack border border-offblack2">Gates</th>
          <th class="px-4 py-2 text-left bg-offblack border border-offblack2">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr id="{{ item.slug }}">
          <td class="px-4 py-2 border border-offblack2 truncate">
            <button class="group/copy transition-colors hover:text-star-dark focus:outline focus:outline-1 active:outline-none focus:outline-solid"
              onclick="copy(event)">
              <svg class="group-active/copy:scale-75 inline-block pointer-events-none" fill="currentColor" focusable="false"
                aria-hidden="true" viewBox="0 0 24 24" height="20" width="20">
                <path
                  d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z">
                </path>
              </svg>
            </button>
            <span>{{ item.slug }}</span>
          </td>
          <td class="px-4 py-2 border border-offblack2 truncate hidden md:table-cell">{{ item.url }}</td>
          <td class="px-4 py-2 border border-offblack2 truncate" data-trust="{{item.status}}" data-since="{{item.since}}"
            data-until="{{item.until}}">
            {% if item.now < item.since %}
            <svg fill="#ffd700" class="inline-block" fill="currentColor" focusable="false" aria-hidden="true"
              viewBox="0 0 24 24" height="24" width="24">
              <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm3.3 14.71L11 12.41V7h2v4.59l3.71 3.71-1.42 1.41z"></path>
            </svg>
            {% elif item.now > item.until %}
            <svg fill="#e14148" class="inline-block" focusable="false" aria-hidden="true"
              viewBox="0 0 24 24" height="24" width="24">
              <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z"></path>
            </svg>
            {% endif %}
            {% if item.status == "untrusted" %}
            <svg fill="#4169e1" class="inline-block" focusable="false" aria-hidden="true" viewBox="0 0 24 24" height="24" width="24">
              <path d="M12 2 4 5v6.09c0 5.05 3.41 9.76 8 10.91 4.59-1.15 8-5.86 8-10.91V5l-8-3zm-1.06 13.54L7.4 12l1.41-1.41 2.12 2.12 4.24-4.24 1.41 1.41-5.64 5.66z"></path>
            </svg>
            {% endif %}
          </td>
          <td class="px-4 py-2 border border-offblack2">
            <button
              class="transition-colors hover:text-star-dark focus:outline focus:outline-1 active:outline-none focus:outline-solid"
              onclick="edit(event)">
                <svg class="inline-block pointer-events-none" fill="currentColor" focusable="false" aria-hidden="true"  viewBox="0 0 24 24" height="24" width="24"><path d="M19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61l-2.01-1.58zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"></path></svg>
            </button>
            <a target="_blank" class="active:scale-75 transition-colors hover:text-star-dark focus:outline focus:outline-1 active:outline-none focus:outline-solid" href="/share/{{ item.slug }}">
              <svg class="inline-block pointer-events-none" fill="currentColor" focusable="false" aria-hidden="true" viewBox="0 0 24 24" height="24" width="24"><path d="M15 21h-2v-2h2v2zm-2-7h-2v5h2v-5zm8-2h-2v4h2v-4zm-2-2h-2v2h2v-2zM7 12H5v2h2v-2zm-2-2H3v2h2v-2zm7-5h2V3h-2v2zm-7.5-.5v3h3v-3h-3zM9 9H3V3h6v6zm-4.5 7.5v3h3v-3h-3zM9 21H3v-6h6v6zm7.5-16.5v3h3v-3h-3zM21 9h-6V3h6v6zm-2 10v-3h-4v2h2v3h4v-2h-2zm-2-7h-4v2h4v-2zm-4-2H7v2h2v2h2v-2h2v-2zm1-1V7h-2V5h-2v4h4zM6.75 5.25h-1.5v1.5h1.5v-1.5zm0 12h-1.5v1.5h1.5v-1.5zm12-12h-1.5v1.5h1.5v-1.5z"></path></svg>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
  <form id="edit" class="hidden fixed top-0 h-screen left-0 w-full bg-black/90" onclick="hide(event,'edit')"
    onsubmit="return put(event)">
    <div
      class="mt-[10vh] mx-auto w-full sm:w-[640px] flex flex-col gap-y-4 p-4 rounded animate-slidein bg-offblack border border-offblack2">
      <div>
        <label class="block text-sm text-zinc-400">Slug</label>
        <input type="text" name="slug"
          class="bg-black px-4 py-2 w-full focus:outline focus:outline-1 focus:outline-solid">
      </div>
      <div>
        <label class="block text-sm text-zinc-400">Redirect target</label>
        <input class="bg-black px-4 py-2 w-full focus:outline focus:outline-1 focus:outline-solid" type="url"
          name="url">
      </div>
      <div>
        <label class="block text-sm text-zinc-400">Available from (optional)</label>
        <div class="grid md:grid-cols-2 gap-4">
          <input class="bg-black text-center px-4 py-2 w-full focus:outline focus:outline-1 focus:outline-solid"
            type="date" name="fromdate">
          <input class="bg-black text-center px-4 py-2 w-full focus:outline focus:outline-1 focus:outline-solid"
            type="time" name="fromtime" step="1">
        </div>
      </div>
      <div>
        <label class="block text-sm text-zinc-400">Not available after (optional)</label>
        <div class="grid md:grid-cols-2 gap-4">
          <input class="bg-black text-center px-4 py-2 w-full focus:outline focus:outline-1 focus:outline-solid"
            type="date" name="todate">
          <input class="bg-black text-center px-4 py-2 w-full focus:outline focus:outline-1 focus:outline-solid"
            type="time" name="totime" step="1">
        </div>
      </div>
      <label>
        <input class="peer sr-only" type="checkbox" name="approval">
        <div class="checkbox peer-focus:outline peer-focus:outline-1 bg-black w-4 h-4 inline-block rounded"></div>
        <span class="px-1 select-none">display the approval page</span>
      </label>
      <div class="flex">
        <button
          class="w-24 px-4 py-2 bg-offblack2 rounded focus:outline focus:outline-1 focus:outline-solid focus:text-black focus:bg-star-dark hover:text-black hover:bg-star-dark"
          type="submit">send</button>
        <span class="p-2 flex-grow text-rose-500"></span>
        <button type="button" disabled
          class="w-24 px-4 py-2 bg-offblack2 disabled:opacity-0 rounded focus:outline focus:outline-1 focus:outline-solid focus:bg-rose-700 hover:bg-rose-700">delete</button>
      </div>
    </div>
  </form>
</body>

</html>
